@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic);

body{
	font-size: 14px;
	font-weight: 300;
	font-family: 'Ubuntu', sans-serif;
}

section.glb {
	margin: 30px;
}

.title-page {
	font-size: 28px;
	font-weight: bold;
}

label{
	clear: both;
	display: block;
	margin-left: 10px;
	font-weight: bold;
}

input {
	min-height: 30px;
	width: 30%;
	margin: 10px;
	padding-left: 10px;
	font-family: 'Ubuntu', sans-serif;
	color: #BABABA;
	font-size: 14px;
}

button {
	min-height: 30px;
	width: 10%;
	margin: 10px;
	border: 0;
	background-color: #555;
	color: #FFF;
	font-family: 'Ubuntu', sans-serif;
}



.pull-output {
	padding: 5px;
	margin: 5px;
}

.info-config-page {
	font-size: 16px;
	font-weight: 300;
	margin-top: 10px;
}
